@model IEnumerable<Zoologico.Models.Consulta>

@{
    ViewData["Title"] = "Details";
}

<h1>Histórico de Consultas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alergia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoHistorico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoHistorico)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new {  id=item.IdProntuario}) |
                @Html.ActionLink("Nova Consulta", "Insert", new {  id=item.IdProntuario}) 
            </td>
        </tr>
}
    </tbody>
</table>
