@model IEnumerable<Zoologico.Models.Prontuario>

@{
    ViewData["Title"] = "Select";
}

<h1>Prontuários</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProntuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeEspecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsProntuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProntuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEspecie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObsProntuario)
            </td>
            <td>
                @Html.ActionLink("Histórico", "Details", new { id=item.IdProntuario}) |
                @Html.ActionLink("Nova Consulta", "Insert", new { id=item.IdProntuario})
            </td>
        </tr>
}
    </tbody>
</table>
