@model IEnumerable<Zoologico.Models.Habitat>

@{
    ViewData["Title"] = "Habitat";
}

<h1>Habitats</h1>

<p>
    <a asp-action="Insert">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHabitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeHabitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoHabitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegetacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdAnimais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHabitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeHabitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoHabitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdAnimais)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id=item.IdHabitat }) |
                @Html.ActionLink("Editar", "Edit", new { id=item.IdHabitat}) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.IdHabitat })
            </td>
        </tr>
}
    </tbody>
</table>
