@model Zoologico.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEspecie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEspecie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeHabitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeHabitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePorte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDieta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDieta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsProntuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsProntuario)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
