@model IEnumerable<Zoologico.Models.Animal>

@{
    ViewData["Title"] = "Select";
}

<h1>Animais</h1>

<p>
    <a asp-action="Insert">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>                                                                                                                                                                                               
            <th>
                @Html.DisplayNameFor(model => model.IdAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeHabitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeHabitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNasc)
            </td>

            <td>
                @Html.ActionLink("Detalhes", "Details", new { id=item.IdAnimal }) |
                @Html.ActionLink("Editar", "Edit", new {  id=item.IdAnimal}) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.IdAnimal })
            </td>
        </tr>
}
    </tbody>
</table>
